.gradle
.idea
build/
# deps/
gradlew
gradlew.bat
src/main/java/zc246_zl345_co232_mw756/rho/Lexer.java
src/main/java/zc246_zl345_co232_mw756/rho/parser.java
src/main/java/zc246_zl345_co232_mw756/rho/sym.java
src/main/java/zc246_zl345_co232_mw756/eta/Lexer.java
src/main/java/zc246_zl345_co232_mw756/eta/parser.java
src/main/java/zc246_zl345_co232_mw756/eta/sym.java
src/main/java/zc246_zl345_co232_mw756/lex/

bin/

*.results
*.typed
*.lexed
*.parsed
*.ir
*.s

xthOutput.*/
etac.zip
t.*

test/pa4_other
other/

out
*.dot
*.png

runtime/
src/main/java/zc246_zl345_co232_mw756/Test.java
test/pa6/test.eta
